{% extends "./Navbar.html" %}

{% block MentorBase %}
{% comment %} Mentors course table having columns Course ID, Course Title, Link to go to course page {% endcomment %}
<div class="container mt-5">
    <h1 class="text-center mb-4">My Courses</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in CourseList %}
                <tr>
                    <td>{{course.course_id}}</td>
                    <td>{{course.title}}</td>
                    <td>
                        <form action="../CourseManagement/" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="go_to_course_page">
                            <input type="hidden" name="course_id" value={{course.course_id}}>
                            <button type="submit">Go TO Course Page</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock MentorBase %}